a.out
*~
*.cpp.alt
*.txt
./test_laplace/*.txt
tmp/
linearStability/
zweikomptest/
zweikomp-spielen/
trichter_miriam/
dichteRinge/
dichteRinge2/
dichteRinge3/
test-opmp/
analyse_dichteRinge/
homogen2/
homogen3/
integral_ring_kraefteGG/
lambdaklein1/
lambdaklein1_homogen/
opmp-bfs1/
symmetrisch/
*.pdf
*.tgz
*.gch